# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*cmake-build-debug

# Files from Forge MDK
forge*changelog.txt
.DS_Store
*.cmake
